* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.cor {
  color: rgb(243, 9, 9);
}

.logo h1 {
  font-size: 5em;
  color: lime;
  font-family: "Courier";
  font-size: 50px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end);

}

.logo h1::nth-child(2) {
  animation: type2 8s steps(60, center);
}

span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 20%;
  }
}

@keyframes type2 {
  0% {
    width: 20%;
  }

  50% {
    width: 0;
  }

  100% {
    width: 50;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

::selection {
  background: black;
}

#container {
  border-radius: 5px;
  width: 28%;
  height: 40vh;
  background-color: rgba(255, 228, 196, 0.644);
  border: solid 2px lime;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container input {
  border-radius: 5px;
  margin-top: 40px;
  width: 50%;
  height: 5vh;
  border: none;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
  text-align: center;
  outline: none;


}

#container input:hover {
  box-shadow: 0 0 1em gold;
  cursor: pointer;
  border: none;
}





button {
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 70%;
  height: 5vh;
  border-radius: 4px;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  border: none;
  border-radius: 30px;
  padding: 5px;

}

button:hover {
  background-color: red;
}


.resultado {
  background-color: darkgrey;
  width: 60%;
  height: 10vh;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 10px;
  border: solid 2px lime;
}

.resultado p {

  padding-top: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: 600;


}




@media (max-width: 1024px) {
  #container {
    width: 28%;
    height: 40vh;
  }
}

@media (max-width: 500px) {

  .logo h1 {
    font-size: 2.3em;
  }

  #container {
    width: 50%;
    height: 40vh;
  }

  .resultado {
    background-color: darkgrey;
    width: 70%;
    height: 15vh;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;

  }

  .resultado p {

    font-size: 1em;
    padding: 10px;

  }

}


@media (max-width: 320px) {

  .logo h1 {
    font-size: 1.5em;
  }

  #container {
    width: 60%;
    height: 50vh;
  }

  #container input {
 
   
    width: 80%;
    height: 7vh;
  
    
   
  }
  

  .resultado {

    width: 80%;
    height: 15vh;
    
  }

  .resultado p {

    font-size: 1em;
    padding: 10px;

  }

  button {
    
   
    max-width: 75%;
    height: 8vh;
    font-size: 1.2em;
  }

  .resultado p {

    font-size: 1em;
  }
    
}






@media (max-width: 375px) {

  .logo h1 {
    font-size: 1.8em;
  }
  #container {
    width: 60%;
    height: 50vh;
  }

  #container input {
 
   
    width: 70%;
    height: 5vh;
  
    
   
  }

}
   
   
    
  
  
  


  
  
    
  